


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main{
    .dateContainer{
        position: relative;
        height: 40rem;
        max-width: 72rem;
        margin:auto;
      }
    .parentContainer {
        position: relative;
        text-align: center;
        width: 44.5rem;
        height: auto;
        margin: auto;
        
        .hisName {
            position: absolute;
            top: 1.3rem;
            left: 6rem;
            margin-top: 1.7rem;
          }
          .herName {
              position: absolute;
              bottom: -5.3rem;
              right: 27rem;
              }
        }
        .dateText{
          position: absolute;
            bottom: -9.7rem;
            right: 9.6rem;
            margin: 0;
            font-size: 3rem;
        } 
        img{
            margin-top: 5rem;
            height: 38rem;
            width: auto;
        }
        .photoButtons button{
            min-width: 29rem;
            font-size: 2.6rem;
          }
          .date .dateInfo p{
            p{
                max-width: 30rem;
              }
          }
          .allDates{
            margin: auto;
            margin-bottom: 2rem;
            min-width: 36rem;

          .date{
            min-width: 35rem;
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            width: fit-content;
            i{
              color: #252525;
              margin: .5rem;
            }
            img{
              height: 5rem;
              width: auto;
              margin: .5rem;
            }
            .dateInfo{
              text-align: left;
              margin: 0 1rem;
              min-width: 27rem;
              h2{
                margin: 1rem 1rem 0;
                font-size: 2.3rem;
              }
              p{
                /* top right bottom left*/
                margin: 0 0 0 1.5rem;
                font-size: 1.3rem;
                max-width: 25rem;
              }
            }
        }
          }
          .contentPage{

           .itinerary{
            max-width: 38rem;
            a{
            text-underline-position: under;
            line-height: normal;
          }
           }
        }
}


/*----------- FOOTER --------------*/
    
