


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main{
    .dateContainer{
        position: relative;
        height: 40rem;
        max-width: 72rem;
        margin:auto;
      }
    .parentContainer {
        position: relative;
        text-align: center;
        width: 44.5rem;
        height: auto;
        margin: auto;
        
        .hisName {
            position: absolute;
            top: 1.3rem;
            left: 6rem;
            margin-top: 1.7rem;
          }
          .herName {
              position: absolute;
              bottom: -5.3rem;
              right: 27rem;
              }
        }
        .dateText{
          position: absolute;
            bottom: -9.7rem;
            right: 9.6rem;
            margin: 0;
            font-size: 3rem;
        } 
        img{
            margin-top: 5rem;
            height: 38rem;
            width: auto;
        }
}


/*----------- FOOTER --------------*/
    
