/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; width:100%;}

/* FONTS */
// https://fonts.adobe.com/fonts/adobe-kannada#about-section
@import url("https://use.typekit.net/rxx0kri.css");

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
    color:#252525;
    font-family: "adobe-kannada", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.cover {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F0EC; /* Set your desired background color */
  opacity: 1;
  transition: opacity .6s ease-in;
}

.fade-in {
  opacity: 0; /* Fading in state */
  transition: opacity .6s ease-in;
}

/*----------- BODY --------------*/
body {
    background-color: #F5F0EC;
    overflow-x: hidden;
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*----------- HEADER --------------*/
header {
    display: flex;
    justify-content: space-between;
    
    .menuText{
        font-size: 2.5rem;
        text-decoration: underline;
        text-underline-offset: .2em;
        margin: .5em .5em 0 0;
    }
    .daphBen{
        /* top right bottom left*/
        margin: 1rem 0 0 1rem;

        a{
            text-decoration: none;
       }
        
        h1{
            margin: 0;
            font-size: 2.5rem;
        }
    }
}

/*----------- NAVIGATION --------------*/
      
    /* The Overlay (background) using https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  /* Position the content inside the overlay */
  nav .menu {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    background-color: transparent; /* Make the menu content background transparent */
    li {
        list-style-type: none;
        text-decoration: none;
        background-color: transparent;
    }
}

  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: .5em;
    text-decoration: none;
    font-size: 2.25rem;
    //color: #f1f1f1;
    display: block;
    transition: 0.3s;
    background-color: transparent;
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover,
  .overlay a:focus {
    color: #818181;
    text-decoration: underline;
    text-underline-position: under;
  }

  .overlay #closeIcon:hover{
    text-decoration: none;
  }
  
  /* Position the close button (top right corner) */
  .overlay #closeIcon {
    position: absolute;
    right: .03em;
    font-size: 3.75rem;
  }
  
  /* Add this to your CSS */
  .overlay.show-nav {
    width: 100%;
  }

  #myNav li.active a {
    //color: #929292;
  }
  #myNav{
    background-color: #f5f0ecde;
  }
  
  


/*----------- MAIN --------------*/
main {
h1{
    font-size: 3.75rem;
}

.dateContainer{
  position: relative;
  height: 50rem;
  margin:auto;
}
.parentContainer {
    position: relative;
    text-align: center;
    height: 50rem;
    width: auto;
    margin: auto;
    
    .hisName {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 1.7rem;
    }
    .herName {
        position: absolute;
        bottom: 12rem;
        right: 0;
        }
      }
    .dateText{
      position: absolute;
        bottom: 8rem;
        right: 10px;
        padding: 0;
        font-size: 3rem;
    }
        img{
          margin-top: 3.8rem;
          height: auto;
          width: 100%;
        }

  .contentPage{
    h1{
      text-align: center;
      margin-bottom: .5rem;
    }
    #selectPhotos{
      margin: .5rem;
    }
    margin: auto;
    text-align: center;
    button{
      border: #252525 solid .1rem;
      border-radius: .5rem;
      font-size: 2rem;
      background-color: #F5F0EC;
      text-transform: uppercase;
      /* top | left and right | bottom */
      padding: 1.5rem .5rem 1rem;
      margin: .4rem;
      a{
        text-decoration: none;
      }
    }
    .venmoQR{
      border-radius: .5rem;
      height: 14rem;
      width: auto;
      margin: 1.3rem 0;
    }
    .photoButtons{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0 2rem;
      max-width: 40rem;
      margin: auto;
      button{
        min-width: 23rem;
        font-size: 1.5rem;
      }
    }
    .registryInfo{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto;
      max-width: 25rem;
      div{
        margin: .5rem 2rem;
      }
      button{
        min-width: 19.5rem;
      }
    }
    .allDates{
      margin-bottom: 2rem;
      max-width: 25rem
    }
    .date{
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      width: fit-content;
      i{
        color: #252525;
        margin: .5rem;
      }
      img{
        height: 3rem;
        width: auto;
        margin: .5rem;
      }
      .dateInfo{
        text-align: left;
        margin: 0rem 1rem 1rem;
        max-width: 16rem;
        h2{
          margin: 1rem 1rem 0;
          font-size: 1.8rem;
        }
        p{
          /* top right bottom left*/
          margin: 0 0 0 1.5rem;
          font-size: 1.3rem;
          max-width: 20rem;
        }
      }
    }
    .photosDisplay{
      img{
        margin: .5rem;
        border-radius: 3%;
        width: 96%;
        height: auto;
      }
      h2{
        max-width: 33rem;
        margin: auto;
        text-align: left;
        padding: .8rem; margin-bottom: 2rem;
      }
    }

    .itinerary{
      text-align: left;
      max-width: 30rem;
      margin: auto;
      margin-top: 2rem;
      padding: .6rem 2rem;
      h2{
        margin: 0 0 .7rem 0;
        font-size: 2.5rem;
      }
      h3{
        margin: 0 0 0 .3rem;
        font-size: 1.7rem;
      }
      h4{
        margin: 0 0 1.3rem 1rem;
        font-size: 1.5rem;
      }
      a{
        text-decoration-thickness: .05rem;
        line-height: 2.5rem;
        text-underline-offset: .3rem;
      }
    }
    // end of .contentPage
  }
  /*
Scroll to top button from: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border-radius: .4rem;
  border: solid .15rem #fff;
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
  padding: .8rem .4rem .5rem .4rem;
  line-height: normal;
}

#myBtn:hover {
  background-color: rgba(60, 60, 60, 0.8);
}
/* End of SCROLL Btn CSS*/
}



/*----------- FOOTER --------------*/
footer {
    padding: .5rem 2%;
    text-align: center;
    font-size: .7rem;
    margin-top: auto;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}